.skill {
    text-align: center;
    margin: 1rem;
    i {
        font-size: 5rem;
        display: block;
        color: #74A5D9;
    }
    span {
        font-size: 0.7em;
    }
}

[data-theme='dark'] {
    .skill {
        i {
            color: #FFFFFF;
        }
    }
  }