.article {
    p {
        text-align: justify;
        
    }
    .button {
        padding: 25px 40px;
        background: #74A5D9;
        border: 2px solid #74A5D9;
        transition: all 0.25s ease;
        color: #FFF;
        text-decoration: none;
        display: table;
        margin: 0 auto;
        &:hover {
            background: #FFFFFF;
            color: #74A5D9;
        }
    }
}
