.article {
    p {
        font-size: 1.75rem;
        text-align: justify;
        
    }
    .uberflip {
        border-bottom: 4px solid #CE0052;
        text-decoration: none;
        color: #4a4a4a;
    }
    
}

[data-theme='dark'] {
    .article {
        .uberflip {
            color: #FFFFFF;
        }
        
    }
}